<div class="subscription width width_full">
    <span class="subscription__title width width_norm width_paddingStandart">ХОТИТЕ ПЕРВЫМИ УЗНАВАТЬ ОБ АКЦИЯХ?</span>
    <div class="subscription__content width width_norm width_paddingStandart">
        {{ drupal_block('podpiska') }}
    </div>
</div>

