<div class="callback">
    <a href="/form/callback"
       class="use-ajax button button__light"
       data-dialog-options='{
       "width":"500px",
       "minHeight":"500px",
       "dialogClass":"popupDialog"
       }'
       data-dialog-type="modal"><i class="fa fa-phone" aria-hidden="true"></i> Заказать звонок</a>
</div>