.registerform {
  &__name {
    padding: 5px 0;
    color: #666666;
    max-width: 460px;

    input {
      padding: 10px;
      width: 100%;
      outline: none;
      border: 1px solid #e4e4e3;
      box-sizing: border-box;
      border-radius: 3px;
      background: #ffffff;
      font-size: 16px;
    }
  }
  &__mail {
    padding: 5px 0;
    color: #666666;
    max-width: 460px;

    input {
      padding: 10px;
      width: 100%;
      outline: none;
      border: 1px solid #e4e4e3;
      box-sizing: border-box;
      border-radius: 3px;
      background: #ffffff;
      font-size: 16px;
    }
  }
  &__pass {
    padding: 5px 0;
    color: #666666;
    max-width: 460px;

    input {
      padding: 10px;
      width: 100%;
      outline: none;
      border: 1px solid #e4e4e3;
      box-sizing: border-box;
      border-radius: 3px;
      background: #ffffff;
      font-size: 16px;
    }
  }
  &__pass1 {
    padding-bottom: 10px;
  }
  &__actions {
    padding: 5px 0;
    button {
      display: inline-block;
      @include border-radius(3px);
      border: 0;
      cursor: pointer;
      outline: none;
      color: #ffffff;
      text-transform: uppercase;
      padding: 8px 21px;
      font-size: 16px;

      background: #f4a55e;
      @include transition(all 0.3s ease);
      @include border-radius(5px);
      &:hover {
        @include background-image(linear-gradient(#eca05b, #e29957));
      }
      &:active {
        @include background-image(linear-gradient(#db9454, #ca894e));
      }
    }
  }
}