{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('my_theme/kliniki') }}


<div class="kliniki__content width width_norm width_paddingStandart">
<div class="views-element-container">
  <div class="klinikiView">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  
  <div{{ row.attributes.addClass(row_classes) }}>
  
    {{ row.content }}
    </div>
   
{% endfor %}
 </div>
  </div>
  </div>
  
  
  <h2 class="kliniki__title title_grey width width_norm width_paddingStandart" >
<span class="title__br"></span>
<span class="title__text" style="font-size:32px">Клиники в других районах</span>
<span class="title__br"></span>
</h2>
  
    {% include base_path ~ directory ~ "/bem/blocks/searchMap/searchMap.html.twig" %}
