{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('my_theme/home') }}
<h1 class="faq__title title_grey width width_norm width_paddingStandart">
  <span class="title__br"></span>
  <span class="title__text">FAQ</span>
  <span class="title__br"></span>
</h1>
<div class="faq_content width width_norm ">
  {% for row in rows %}
    {% set row_classes = [
      default_row_class ? 'views-row',
    ] %}
    <div{{ row.attributes.addClass(row_classes) }}>
      <div class="questionTeaser">
        <div class="questionTeaser__content width width_light">
          {{ row.content }}
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="ask__bottom">
    <a href="/questions" class="button_red">Смотреть остальные вопросы</a>
  </div>
</div>
