<div class="doctorWebform">
    <a href="/form/zapisatsa-k-vracu"
       class="use-ajax button button__light"
       data-dialog-options='{
       "width":"500px",
       "minHeight":"800px",
       "dialogClass":"popupDialog"
       }'
       data-dialog-type="modal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Записаться</a>
</div>