.userManagement {
  background: #e3e5e5;
  border: 1px solid #cacaca;
  &__nav {
    @include display-flex();
    @include flex-direction(collumn);
    @include flex-wrap(wrap);
    @include respond-to(phone){
      text-align: center;
    }
    @include respond-to(min-phone){
      text-align: center;
    }
  }

  &__linck {
    @include flex-basis(33%);
    padding: 10px 15px;
    font-size: 12px;
    color: #4c4c4c;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    @include respond-to(tablet){
      @include flex-basis(100%);
    }
    @include respond-to(desctop){
       @include flex-basis(100%);
    }
    @include respond-to(desctop_wide){
      @include flex-basis(100%);
    }
    @include respond-to(desctop_max){
      @include flex-basis(100%);
    }

    &:hover {
      @include background-image(linear-gradient(#d6d6d6, #cdcdcd));
    }
    &:active {
      @include background-image(linear-gradient(#c4c4c4, #b8b8b8));
    }
  }
}



