<div class="userManagement">
    <div class="userManagement__nav">
        <a class="userManagement__linck" href="/user/{{ user.account.id }}">Мой кабинет</a>
        <a class="userManagement__linck" href="/user/{{ user.account.id }}/edit">Настройки</a>
        <a class="userManagement__linck" href="/user/logout">Выйти</a>
    </div>
</div>