{% raw %}
    <noindex><div id="searchM" v-cloak="" class="search" xmlns:v-bind="http://www.w3.org/1999/xhtml"
         xmlns:v-on="http://www.w3.org/1999/xhtml">
        <input class="search__input" v-model="question" placeholder="Поиск"/>

        <div class="search__rezults" v-if="show">

            <span class="search__q">Поиск по запросу: {{ question }}</span>

            <label v-if="rez_uslugi">Услуги</label>
            <noindex><a v-bind:href="item.url" class="search__rezult" v-for="item in rez_uslugi" rel="nofollow">
                {{ item.title }}
            </a></noindex>

            <label v-if="rez_clinics">Клиники</label>
            <noindex><a v-bind:href="item.url" class="search__rezult" v-for="item in rez_clinics" rel="nofollow">
                {{ item.title }}
            </a></noindex>

            <label v-if="rez_doctors">Врачи</label>
            <noindex><a v-bind:href="item.url" class="search__rezultDoctor" v-for="item in rez_doctors" rel="nofollow">
                {{ item.title }}
            </a></noindex>

            <span v-if="!rez_uslugi, !rez_uslugi, !rez_doctors" class="search__not">Поиск не дал результатов</span>
            <span v-on:click="close" class="search__close">Скрыть</span>

        </div>
    </div></noindex>
{% endraw %}



