/core
/sites
/node_modules
*.log
*.txt
*.lnk
*.log.*
.DS_Store
*.iml
.idea/
.vscode/
*.ipr
*.iws
/out/
.idea_modules/
/gitignore
node_modules
*.xml
.htsecure
*.lock
/.well-known
/.htaccess
*.tar.gz
*.zip
/*.html
/i.php
/tmp_files
/seofiles
/images
*.json
/testt
