<div class="baner">
    <div class="baner__content width width_norm width_paddingStandart">
        <span class="baner__title">{{ content.field_title }}</span>
        <span class="baner__description">{{ content.field_description }}</span>
    </div>
</div>