<div class="baner_3" style="background-image: url('{{ content.field_fon | field_value }}')">
    <div class="baner__content width width_norm width_paddingStandart">
        <span class="baner__title">{{ content.field_title }}</span>
        <span class="baner__text">{{ content.field_text }}</span>
    </div>
    <div class="baner__bottom width width_norm width_paddingStandart">
        <a class="button_red" href="/make-an-appointment">{{ content.field_name_button }}</a>
    </div>
</div>