{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('my_theme/checkout') }}

<div class="checkoutForm width width_norm width_paddingStandart layout-checkout-form clearfix">
    {{ form }}
</div>
