<div class="footerLicense width_paddingLeftRight">
    <span class="footerLicense__label"><a href="/licenses">Лицензии</a></span><br>
    <span class="footerLicense__label"><a href="/sout">Сводные данные о результатах проведения СОУТ</a></span><br>
      <span class="footerLicense__label"><a href="/covid-19">О мерах, принятых нашей организацией для осуществления деятельности в условиях пандемии COVID-19</a></span>
    
    
</div>