{{ attach_library('my_theme/page403') }}

<div class="page403 pace-def">
    <div class="page403__layout">
        <div class="page403__text">
            <h1>Доступ запрещен</h1>
            <br>
            <a class="button_red" href="/user/login">Вход</a>
        </div>
    </div>
</div>
