//ui-dialog: The main container of the dialog window.
//ui-dialog-titlebar: The place for the title
//ui-dialog-title: The container where the text title itself is placed.
//ui-dialog-titlebar-close: The button to close the window.
//ui-dialog-content: The content zone.
//ui-dialog-buttonpane: If you have a set of buttons, then the container for button entry is enabled)).
//ui-dialog-buttonset: The container where all buttons themselves are placed.

.popupDialog {
  background: #c74b5d;
  @include background-image(linear-gradient(#c74b5d, #c74b5d));
  @include box-shadow(0px 4px 4px 0px rgba(197, 197, 197, 0.05));
  @include border-radius(8px);
  position: relative;
  max-width: 100%;
  @include box-sizing(border-box);
  border: 2px solid white;
  padding: 30px;

  @include respond-to(tablet){
    top: 70px !important;
    padding: 20px;
  }
  @include respond-to(phone){
    top: 0 !important;
    padding: 20px;
  }
  @include respond-to(min-phone){
    top: 70px !important;
    padding: 20px;
  }
  .ui-dialog-titlebar {
    background: none;
    border: none;
    color: white;
    text-align: center;
    padding: 0;
  }
  .ui-dialog-title {
    display: block;
    width: 100%;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 28px;
    padding: 16px;
    box-sizing: border-box;
    @include respond-to(phone){
      font-size: 18px;
      padding: 10px;
    }
    @include respond-to(min-phone){
      font-size: 18px;
      padding: 10px;
    }
  }
  .ui-dialog-content {
    padding: 0;
    overflow-x: hidden;
  }
  .ui-dialog-titlebar-close {
    top: 0;
    right: -10px;
    padding: 15px;
    background: white;
    border: none;
    border-radius: 20px;
    outline: 0;
    &:active,
    &:focus {
      outline: 0;
    }
  }
}
