.newProduct {
  &__title {
    font-size: 18px;
  }

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 900px;
    margin-bottom: 20px;
    margin-top: 5px;
    @include respond-to(tablet) {
      @include border-radius(0);
    }
    @include respond-to(phone) {
      @include border-radius(0);
    }
    @include respond-to(min-phone) {
      @include border-radius(0);
    }
  }
}