<div class="socialsMenu">
    <div class="socialsMenu__content">
        <ul class="menu">
            <li><a href="https://vk.com/ctoma" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCrn6EzRAQQBhKACykwme69g" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/ctoma_group/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>