.formblock {

  &_testimonials {
    padding: 20px;

    border: 1px solid rgba(169, 169, 165, 0.31);
    border-radius: 30px;

    @include respond-to(phone){
      padding: 20px 0;
      border: none;
      border-radius: 0;
    }
    @include respond-to(min-phone){
      padding: 20px 0;
      border: none;
      border-radius: 0;
    }

    .formblock__title {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin: 20px 0;
      display: block;
    }
    .formblock__email,
    .formblock__name {
      input {
        padding: 10px;
        width: 100%;
        outline: none;
        border: 0;
        box-sizing: border-box;
        border-radius: 3px;
        margin: 5px 0;
        color: #1a1a1a;
        font-size: 16px;
      }
    }
    .formblock__feedback {
      textarea {
        padding: 10px;
        width: 100%;
        outline: none;
        border: 0;
        box-sizing: border-box;
        border-radius: 3px;
        margin: 5px 0;
        color: #1a1a1a;
        font-size: 16px;
        resize: vertical;

      }
    }
    .formblock__actions {
      text-align: center;
      button {
        padding: 6px 20px 6px 20px;

        @include background-image(linear-gradient(#00cc33, #009933));
        @include border-radius(6px);
        @include user-select(none);
        font-family: Arial,sans-serif;
        font-size: 16px;
        border: none;
        outline: none;

        color: white;
        cursor: pointer;

        &:hover {
          @include background-image(linear-gradient(#00cc33, #00aa39));
        }
        &:active {
          @include background-image(linear-gradient(#00a72b, #009933));
        }
      }
    }
  }
}