<div class="newsPageDefault">
    <div class="newsPageDefault__img width_paddingStandart">
        {{ content.field_izobrazenie_statei }}
    </div>
    <div class="newsPageDefault__info content_norm width_paddingStandart">
        {{ content.body }}
    </div>

</div>