<div class="uslugiPrevu portfolioPreview">
    <a class="uslugiPrevu__link" href="{{ fields.view_taxonomy_term.content }}">
        <div class="portfolioImgFix">{{ fields.field_foto_posle.content }}</div>
        <div class="uslugiPrevu__nameWrap">
            <span class="uslugiPrevu__name">{{ fields.name.content }}</span>
        </div>
        <div class="uslugiPrevu__nameWrapHover">
            <span class="uslugiPrevu__nameHover">{{ fields.name.content }}</span>
            <span class="uslugiPrevu__moreHover">Узнать</span>
        </div>
    </a>
</div>