<div class="headerInfo">
    <span class="headerInfo__phone">+7 (876) 543-21-00</span>
    <span class="headerInfo__location">СанктПетербург, Дворцовая площадь</span>
    <span class="headerInfo__timeWork"></span>
</div>