<div class="offerChildren">
    <div class="title">Лечение ЛЮБОГО кариеса у детей за 1450 рублей</div>
    <div class="text"></div>

    <div class="bottom">
        <a class="button_red" href="/make-an-appointment">Записаться</a>
    </div>
</div>