.make {
  //&__breadcrumb {
  //  background: #fbfbfb;
  //}
  &__title {
  }
  &__titleText {

  }
  &__content {
    padding-bottom: 50px;

    @include display-flex();

  }
  &__img {
    @include respond-to(phone){
      display: none;
    }
    @include respond-to(min-phone){
      display: none;
    }
  }
  &__form {

  }
  &__header {
    overflow: hidden;
    clear: both;
  }
  &__photo {
    float: left;
    margin: 0 20px 0 0;
    @include respond-to(desctop) {
      width: 50%;
    }
    @include respond-to(tablet) {
      float: none;
      margin: 0 0 20px 0;
      text-align: center;
    }
    @include respond-to(phone) {
      float: none;
      margin: 0 0 20px 0;
      text-align: center;
    }
    @include respond-to(min-phone) {
      float: none;
      margin: 0 0 20px 0;
      text-align: center;
    }
  }
  &__dolznost {
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__informacia {
    overflow: hidden;
    margin: 20px 0;
    font-size: 14px;

  }
  .label {
    font-size: 35px;
    font-weight: bold;
    margin: 40px 0 20px;
  }
  .doctorWebform {
    display: inline-block !important;
  }
}