<div class="sliderText sliderText_alcohol width width_full">

    <div class="sliderText__swiper swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide sliderText__1">
                {#<span class="sliderText__title">Консультация</span>#}
                <div class="sliderText__wrap">
                    <div class="sliderText__wrapList">
                        <span class="sliderText__text">
                            Lorem ipsum<br>
                            dolor sit amet,<br>
                            consectetur<br>
                            adipisicing elit.<br>
                        </span>
                    </div>
                    <div class="sliderText__link"><a href="/">Узнать подробности</a></div>
                </div>
            </div>
            <div class="swiper-slide sliderText__1">
                {#<span class="sliderText__title">Консультация</span>#}
                <div class="sliderText__wrap">
                    <div class="sliderText__wrapList">
                        <span class="sliderText__text">
                            dolor sit amet,<br>
                            consectetur<br>
                            adipisicing elit.<br>
                        </span>
                    </div>
                    <div class="sliderText__link"><a href="/">Узнать подробности</a></div>
                </div>
            </div>
        </div>

        <div class="sliderText__swiperButtonNext swiper-button-next swiper-button-white"></div>
        <div class="sliderText__swiperButtonPrev swiper-button-prev swiper-button-white"></div>

        <div class="swiper-pagination sliderText__swiperPagination"></div>

    </div>

</div>


