<div class="sliderText width width_full">
    <div class="swiper-container width width_norm width_paddingStandart">
        <div class="swiper-wrapper">
            <div class="swiper-slide">Возвращаем к нормальной жизни, когда у других опускаются руки</div>
        </div>
        {#<div class="swiper-pagination"></div>#}
    </div>
</div>