.makeform {
  @include box-shadow(2px 3.464px 36px 4px rgba(0, 0, 0, 0.06));
  background: #fbfbfb;
  height: 100%;
  @include display-flex();
  @include flex-wrap(wrap);

  &__clinic {
    @include flex-basis(50%);
    @include display-flex();
    @include flex-direction(column);
    padding: 15px 20px 5px;
    @include box-sizing(border-box);
    label {
      font-size: 12px;
      margin-bottom: 5px;
      display: block;
      color: #777777;
    }
    display: block;
    position: relative;

    .ajax-progress-throbber {
      position: absolute;
      @include border-radius(5px);
      z-index: 5;
      top: 0;
      padding: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 0;
      background: #fbfbfb;
      @include transition(all 0.3s ease);
      @include border-radius(25px);
      .throbber {
        opacity: 0.2;
        @include image-2x("/makeform/img/preloader.gif", 32px, 8.5px);
        padding: 0;
        margin: auto;
        display: block;
        height: 100%;
      }
    }

    @include respond-to(min-phone) {
      @include flex-basis(100%);
    }
  }
  &__service {
    @include flex-basis(50%);
    @include display-flex();
    @include flex-direction(column);
    padding: 15px 20px 5px;
    @include box-sizing(border-box);
    label {
      font-size: 12px;
      margin-bottom: 5px;
      display: block;
      color: #777777;
    }
    display: block;
    position: relative;

    @include respond-to(min-phone) {
      @include flex-basis(100%);
      padding: 0 20px 5px;
    }
  }

  select {
    @include appearance(none);
    font-size: 12px;
    font-weight: bold;
    @include border-radius(3px);
    padding: 10px 30px 10px 12px;
    outline: none;
    width: 100%;
    @include background(#f6f6f6 inline_image('/makeform/img/strl@2x.png'));
    background-position: 98% center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    border: 1px solid #dedede;
    color: #464646;
    cursor: pointer;
    @include transition(all 0.3s ease);
    &:hover {
      @include background(#ececec inline_image('/makeform/img/strl@2x.png'));
      background-position: 98% center;
      background-size: 14px 14px;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    &:active {
      @include background(#ececec inline_image('/makeform/img/strl@2x.png'));
      background-position: 98% center;
      background-size: 14px 14px;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    @include respond-to(phone) {
      font-size: 16px;
      width: 100%;
    }
    @include respond-to(min-phone) {
      font-size: 16px;
      width: 100%;
    }
  }
  textarea {
    @include box-sizing(border-box);
    @include border-radius(3px);
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin: 5px 0;
    outline: none;
    @include background(#f6f6f6);
    border: 1px solid #dedede;
    color: #464646;
    &:hover {
      @include background(#ececec);
    }
    &:active {
      @include background(#ececec);
    }
    resize: vertical;
    height: 43px;
  }

  &__name {
    @include flex-basis(100%);
    padding: 0 20px;
    @include box-sizing(border-box);
    input {
      @include box-sizing(border-box);
      @include border-radius(3px);
      width: 100%;
      padding: 10px;
      font-size: 16px;
      display: block;
      margin: 5px 0;
      outline: none;
      @include background(#f6f6f6);
      border: 1px solid #dedede;
      color: #464646;
      @include transition(all 0.3s ease);
      &:hover {
        @include background(#ececec);
      }
      &:active {
        @include background(#ececec);
      }
    }
  }

  &__phone {
    @include flex-basis(100%);
    padding: 0 20px;
    @include box-sizing(border-box);
    input {
      @include box-sizing(border-box);
      @include border-radius(3px);
      width: 100%;
      padding: 10px;
      font-size: 16px;
      display: block;
      margin: 5px 0;
      outline: none;
      @include background(#f6f6f6);
      border: 1px solid #dedede;
      color: #464646;
      @include transition(all 0.3s ease);
      &:hover {
        @include background(#ececec);
      }
      &:active {
        @include background(#ececec);
      }
    }
  }
  &__message {
    display: block;
    @include flex-basis(100%);
    @include box-sizing(border-box);
    padding: 0 20px;

  }

  //

  .statusMessages {
    display: none;
  }
  .error {
    background-color: #fff0f0;
  }

  &__agreement {
    @include flex-basis(100%);
    padding: 0 20px;
    @include box-sizing(border-box);
    font-size: 12px;
    margin: 8px 0;
    color: #777777;
    text-align: center;
    .description {
      display: inline;
    }
    a {
      color: #777777;
    }
  }
  &__actions {
    @include flex-basis(100%);
    text-align: center;
    padding: 0 20px 10px;
    @include box-sizing(border-box);
    button {
      display: inline-block;
      text-decoration: none;
      font-size: 14px;
      color: white;
      background-color: rgb(216, 32, 67);
      border: none;
      @include user-select(none);
      outline: none;
      cursor: pointer;
      @include box-shadow(2px 3.464px 2.88px 0.12px rgba(0, 0, 0, 0.09));
      padding: 10px 20px;
      margin-right: 10px;
      @include border-radius(30px);
      text-transform: uppercase;

      &:hover {
        background-color: rgb(193, 29, 60);
      }
      &:active {
        @include box-shadow(none);
        background-color: rgb(176, 26, 55);
      }
    }

  }
}