.callbackform {
  &__name {
    input {
      @include box-sizing(border-box);
      @include border-radius(2px);
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: none;
      display: block;
      margin: 5px 0;
      outline: none;
    }
  }
  &__phone {
    background: grey;
    input {
      @include box-sizing(border-box);
      @include border-radius(2px);
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: none;
      display: block;
      margin: 5px 0;
      outline: none;
    }
  }
  .statusMessages {
    display: none;
  }
  .error {
    background: #fff0f0;
  }

  &__messageText {
    @include respond-to(phone){
      display: none;
    }
    @include respond-to(min-phone){
      display: none;
    }
  }
  &__message {

    textarea {
      padding: 10px;
      width: 100%;
      outline: none;
      border: 0;
      @include box-sizing(border-box);
      @include border-radius(2px);
      font-size: 16px;
      border: none;
      display: block;
      margin: 5px 0;
      resize: vertical;
      @include respond-to(phone){
        font-size: 16px;
      }
      @include respond-to(min-phone){
        font-size: 16px;
      }
    }
  }
  &__messageText {
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    max-width: 290px;
    margin: auto;
  }
  &__agreement {
    font-size: 12px;
    margin: 8px 0;
    color: white;
    text-align: center;
    .description {
      display: inline;
    }
    a {
      color: #333333;
    }
  }
  &__actions {
    text-align: center;
    max-width: 230px;
    margin: auto;
    button {
      width: 100%;
      outline: none;
      cursor: pointer;
      font-size: 18px;
      border: none;
      padding: 10px 20px;
      color: white;
      background: #57aace;
      @include border-radius(5px);
      @include transition(all 0.3s ease);
      @include background-image(linear-gradient(#57aace, #509cc7));
      &:hover {
        @include background-image(linear-gradient(#4e98b8, #4688ad));
      }
      &:active {
        @include background-image(linear-gradient(#3d7790, #366986));
      }
    }
    display: block;
    position: relative;

    .ajax-progress-throbber {
      position: absolute;
      @include border-radius(3px);
      z-index: 5;
      top: 0;
      padding: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 0;
      @include background-image(linear-gradient(#3d7790, #366986));

      .throbber {
        @include image-2x("/callback/img/throbber.gif", 40px, 5px);
        padding: 0;
        margin: auto;
        display: block;
        height: 42px;
      }
    }
  }
  .form-disabled {
    input {
      background: #a74453;
      font-size: 16px;
      color: #ffffff;
      opacity: 1 !important;
    }
  }
}