.uslugi_all {
  min-height: 920px;
  //overflow: hidden;
  width: 100%;
  //@include background-image(inline_image("/uslugi/img/uslugi_bg-min.jpg"));
  //background-repeat: no-repeat;
  //background-position: top;

  @include respond-to(tablet){
    min-height: 0;
  }
  @include respond-to(phone){
    min-height: 0;
  }
  @include respond-to(min-phone){
    min-height: 0;
  }

  .uslugi__content {
    padding: 30px 25px;
    margin: 30px auto;
    @include box-sizing(border-box);
    background: white;
    @include box-shadow(0px -15px 25px 0px rgba(0, 0, 0, 0.1));
    @include respond-to(phone){
      padding: 0;
      margin: 10px auto;
    }
    @include respond-to(min-phone){
      padding: 0;
      margin: 10px auto;
    }
  }
}