<div class="uslugi_all width width_full width_paddingStandart">
    <nav class="uslugi__content width width width_norm width_paddingStandart">
        {{ drupal_view('uslugi', 'home') }}
    </nav>
</div>