<div class="uslugi width width_full width_paddingStandart">
    <h2 class="uslugi__title title_homeWhite width width_norm width_paddingStandart">
        <span class="title__br"></span><span class="title__text">Услуги</span><span class="title__br"></span>
    </h2>

    <nav class="uslugi__content width width width_norm width_paddingStandart">
        {{ drupal_view('uslugi', 'home') }}
    </nav>
</div>