.jc {
  border: 1px solid #dedfe1;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  border-radius: 3px;
  background: white;
  position: relative;
  @include border-radius(3px);

  &__wrapper {
    position: relative;
    box-sizing: content-box;
    overflow: hidden;
  }
  &__wrapperControl {
    margin: 0 20px;
  }
  &__ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    @include display-flex();
  }
  &__li {
    width: 0;
    float: left;
    @include display-flex();
  }

  &__controlPrev {
    position: absolute;
    width: 30px;
    top: 0;
    height: 100%;
    background: white;
    @include display-flex();
    color: #00b233;
    text-decoration: none;
    text-shadow: 0 0 1px #00b233;
    font: 24px/27px Arial, sans-serif;
    @include box-shadow(0 0 4px #F0EFE7);
    left: 0;
    span {
      margin: auto;
    }
    &:hover {
      background: #edeef0;
      @include respond-to(tablet){
        background: white;
      }
      @include respond-to(phone){
        background: white;
      }
      @include respond-to(min-phone){
        background: white;
      }
    }
    &:active {
      background: #dbdcde;
    }
  }
  &__controlNext {
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    @include display-flex();
    text-align: center;
    background: white;
    color: #00b233;
    text-decoration: none;
    text-shadow: 0 0 1px #00b233;
    font: 24px/27px Arial, sans-serif;
    @include box-shadow(0 0 4px #F0EFE7);
    right: 0;
    span {
      margin: auto;
    }
    &:hover {
      background: #edeef0;
      @include respond-to(tablet){
        background: white;
      }
      @include respond-to(phone){
        background: white;
      }
      @include respond-to(min-phone){
        background: white;
      }
    }
    &:active {
      background: #dbdcde;
    }
  }
}