<div class="blockCart__wrap">
    <a class="blockCart__link" href="{{ url }}">
        <span class="blockCart__text">Quote</span>
        <span class="blockCart__count">{{ count }}</span>
    </a>
</div>
