/* line 2, ../bem/blocks/questions/_default.scss */
.questions__container {
  background: url("/themes/my_theme/bem/blocks/questions/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}
/* line 7, ../bem/blocks/questions/_default.scss */
.questions__title {
  padding-top: 100px;
  padding-bottom: 60px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../bem/blocks/questions/_default.scss */
  .questions__title {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* line 7, ../bem/blocks/questions/_default.scss */
  .questions__title {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 479px) and (min-width: 0px) {
  /* line 7, ../bem/blocks/questions/_default.scss */
  .questions__title {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

/* line 1, ../bem/blocks/questionTeaser/_default.scss */
.questionTeaser {
  position: relative;
  margin-bottom: 20px;
}
/* line 5, ../bem/blocks/questionTeaser/_default.scss */
.questionTeaser__content {
  -moz-box-shadow: 4px 6.928px 23.04px 0.96px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 6.928px 23.04px 0.96px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 6.928px 23.04px 0.96px rgba(0, 0, 0, 0.1);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  position: relative;
  padding: 30px 25px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* line 5, ../bem/blocks/questionTeaser/_default.scss */
  .questionTeaser__content {
    margin-bottom: 15px;
    padding: 20px 10px;
    min-height: 0;
  }
}
@media only screen and (max-width: 479px) and (min-width: 0px) {
  /* line 5, ../bem/blocks/questionTeaser/_default.scss */
  .questionTeaser__content {
    margin-bottom: 15px;
    padding: 20px 10px;
    min-height: 0;
  }
}
/* line 26, ../bem/blocks/questionTeaser/_default.scss */
.questionTeaser__title {
  font-size: 22px;
  color: #d82043;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 32, ../bem/blocks/questionTeaser/_default.scss */
.questionTeaser__title:hover {
  text-decoration: none;
}
/* line 36, ../bem/blocks/questionTeaser/_default.scss */
.questionTeaser__photos {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 30px 0;
}
/* line 40, ../bem/blocks/questionTeaser/_default.scss */
.questionTeaser__photos img {
  max-width: 100%;
  height: auto;
}
/* line 45, ../bem/blocks/questionTeaser/_default.scss */
.questionTeaser__all {
  margin: 5px;
  text-align: center;
}
/* line 49, ../bem/blocks/questionTeaser/_default.scss */
.questionTeaser__more {
  margin: 5px;
  text-align: right;
}

/* line 1, ../bem/blocks/pager/_red.scss */
.pager {
  display: block;
  margin: 10px auto;
  width: 100%;
}
/* line 6, ../bem/blocks/pager/_red.scss */
.pager__items {
  text-align: center;
}
/* line 9, ../bem/blocks/pager/_red.scss */
.pager__item {
  display: inline-block;
}
/* line 12, ../bem/blocks/pager/_red.scss */
.pager__item.is-active a {
  color: #c21d3c;
}
/* line 16, ../bem/blocks/pager/_red.scss */
.pager__item a {
  cursor: pointer;
  padding: 5px 20px 5px 0;
  margin-right: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  font-family: "pantonregular", sans-serif;
  color: #525252;
  font-weight: bold;
  text-decoration: none;
}
/* line 27, ../bem/blocks/pager/_red.scss */
.pager__item a:hover {
  color: #d82043;
}
