/* line 2, ../bem/blocks/testimonials/_testimonials.scss */
.testimonials__layout {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 8, ../bem/blocks/testimonials/_testimonials.scss */
.testimonials__view {
  -webkit-flex-basis: 48%;
  flex-basis: 48%;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* line 8, ../bem/blocks/testimonials/_testimonials.scss */
  .testimonials__view {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 479px) and (min-width: 0px) {
  /* line 8, ../bem/blocks/testimonials/_testimonials.scss */
  .testimonials__view {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
/* line 18, ../bem/blocks/testimonials/_testimonials.scss */
.testimonials__add {
  -webkit-flex-basis: 48%;
  flex-basis: 48%;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* line 18, ../bem/blocks/testimonials/_testimonials.scss */
  .testimonials__add {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 479px) and (min-width: 0px) {
  /* line 18, ../bem/blocks/testimonials/_testimonials.scss */
  .testimonials__add {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}

/* line 1, ../bem/blocks/testimonialsView/_testimonialsView.scss */
.testimonialsView {
  margin-bottom: 30px;
}
/* line 4, ../bem/blocks/testimonialsView/_testimonialsView.scss */
.testimonialsView__row {
  margin-bottom: 20px;
}
/* line 7, ../bem/blocks/testimonialsView/_testimonialsView.scss */
.testimonialsView__title {
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 11, ../bem/blocks/testimonialsView/_testimonialsView.scss */
.testimonialsView__feedback {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #a9a9a5;
  padding: 10px 15px;
}

/* line 2, ../bem/blocks/pager/_pager.scss */
.pager__items {
  text-align: center;
}
/* line 5, ../bem/blocks/pager/_pager.scss */
.pager__item {
  display: inline-block;
}
/* line 8, ../bem/blocks/pager/_pager.scss */
.pager__item.is-active a {
  color: black;
}
/* line 10, ../bem/blocks/pager/_pager.scss */
.pager__item.is-active a:hover {
  text-decoration: none;
}
/* line 15, ../bem/blocks/pager/_pager.scss */
.pager__item a {
  text-decoration: none;
  color: #1f86c7;
  display: block;
  padding: 5px;
  line-height: 16px;
  font-size: 16px;
}
/* line 22, ../bem/blocks/pager/_pager.scss */
.pager__item a:hover {
  text-decoration: underline;
}

/* line 3, ../bem/blocks/formblock/_formblock.scss */
.formblock_testimonials {
  padding: 20px;
  border: 1px solid rgba(169, 169, 165, 0.31);
  border-radius: 30px;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  /* line 3, ../bem/blocks/formblock/_formblock.scss */
  .formblock_testimonials {
    padding: 20px 0;
    border: none;
    border-radius: 0;
  }
}
@media only screen and (max-width: 479px) and (min-width: 0px) {
  /* line 3, ../bem/blocks/formblock/_formblock.scss */
  .formblock_testimonials {
    padding: 20px 0;
    border: none;
    border-radius: 0;
  }
}
/* line 20, ../bem/blocks/formblock/_formblock.scss */
.formblock_testimonials .formblock__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  display: block;
}
/* line 29, ../bem/blocks/formblock/_formblock.scss */
.formblock_testimonials .formblock__email input,
.formblock_testimonials .formblock__name input {
  padding: 10px;
  width: 100%;
  outline: none;
  border: 0;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 5px 0;
  color: #1a1a1a;
  font-size: 16px;
}
/* line 42, ../bem/blocks/formblock/_formblock.scss */
.formblock_testimonials .formblock__feedback textarea {
  padding: 10px;
  width: 100%;
  outline: none;
  border: 0;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 5px 0;
  color: #1a1a1a;
  font-size: 16px;
  resize: vertical;
}
/* line 56, ../bem/blocks/formblock/_formblock.scss */
.formblock_testimonials .formblock__actions {
  text-align: center;
}
/* line 58, ../bem/blocks/formblock/_formblock.scss */
.formblock_testimonials .formblock__actions button {
  padding: 6px 20px 6px 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwY2MzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTkzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00cc33), color-stop(100%, #009933));
  background-image: -moz-linear-gradient(#00cc33, #009933);
  background-image: -webkit-linear-gradient(#00cc33, #009933);
  background-image: linear-gradient(#00cc33, #009933);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: Arial,sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}
/* line 72, ../bem/blocks/formblock/_formblock.scss */
.formblock_testimonials .formblock__actions button:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwY2MzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYWEzOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00cc33), color-stop(100%, #00aa39));
  background-image: -moz-linear-gradient(#00cc33, #00aa39);
  background-image: -webkit-linear-gradient(#00cc33, #00aa39);
  background-image: linear-gradient(#00cc33, #00aa39);
}
/* line 75, ../bem/blocks/formblock/_formblock.scss */
.formblock_testimonials .formblock__actions button:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTcyYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTkzMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a72b), color-stop(100%, #009933));
  background-image: -moz-linear-gradient(#00a72b, #009933);
  background-image: -webkit-linear-gradient(#00a72b, #009933);
  background-image: linear-gradient(#00a72b, #009933);
}
