<div class="swipe width width_full">
    <div class="swipe__slider swiper-container">
        <div class="swiper-wrapper">
            {% for row in rows %}
                {{ row }}
            {% endfor %}
        </div>

        <div class="swipe__ButtonNext swiper-button-next swiper-button-white"></div>
        <div class="swipe__ButtonPrev swiper-button-prev swiper-button-white"></div>

        <div class="swipe__Pagination swiper-pagination"></div>
    </div>
</div>

