<div class="pricePage">
    <div class="pricePage__description content_norm">
        {{ content.description }}

        {{ content.field_klinic }}
    </div>
    <div class="pricePage__prices">
        {{ drupal_view("prais","prices") }}
    </div>
</div>