<div class="frontHeader">
    <div class="frontHeader__content width width_norm width_paddingLeftRight">
        <div class="frontHeader__leftBlock">
            <h1>Благодаря комплексной авторской методике военного врача-нейрохирурга Вы избавитесь от всех видов болей без операции, даже если страдали от них более 30 лет</h1>
            <div class="info">Каждую субботу с 10:00 до 15:00 Вы можете абсолютно бесплатно проконсультироваться у руководителя противоболевого центра Дмитрия Селезнева. Для этого заполните форму ниже.</div>
            {% include base_path ~ directory ~ "/bem/blocks/freeConsultation/freeConsultation.html.twig" %}
        </div>
    </div>
</div>