{{ attach_library('my_theme/page') }}
{{ attach_library('my_theme/page404') }}
<div class="html__wrapper width width_full pace-def">
{% include base_path ~ directory ~ "/bem/blocks/header/header.html.twig" %}
<main role="main">
<div class="content">
<div class="page404">
<div class="page404__layout">
<div class="page404__text content_norm" style="    padding: 150px 0;">
<h1>Страница не найдена</h1>
<br>
<p>
Запрашиваемая Вами страница была удалена или перемещена.<br> Пожалуйста, воспользуйтесь поиском,  меню или начните с главной страницы.
</p>

<a class="button_red" style="color: #fff;" href="/">Перейти на главную</a>
</div>
</div>
</div>
</div>
</main>
</div>
{#{% include base_path ~ directory ~ "/bem/blocks/startTherapy/startTherapy.html.twig" %}#}
{% include base_path ~ directory ~ "/bem/blocks/footer/footer.html.twig" %}