{#
/**
 * @file
 * Template for a one column panel layout.
 *
 * This template provides a very simple "one column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.middle: The only panel in the layout.
 */
#}

{{ attach_library('my_theme/home') }}

<div class="home">

    {{ drupal_view("slider") }}

    {#{% include base_path ~ directory ~ "/bem/blocks/stomaIs/stomaIs.html.twig" %}#}

    {% include base_path ~ directory ~ "/bem/blocks/uslugi/uslugi.html.twig" %}

    {% include base_path ~ directory ~ "/bem/blocks/actions/actions.html.twig" %}

    {% include base_path ~ directory ~ "/bem/blocks/subscription/subscription.html.twig" %}

    {% include base_path ~ directory ~ "/bem/blocks/stomatology/stomatology.html.twig" %}

    {% include base_path ~ directory ~ "/bem/blocks/searchMap/searchMap.html.twig" %}

    {% include base_path ~ directory ~ "/bem/blocks/reviews/reviews.html.twig" %}

    {% include base_path ~ directory ~ "/bem/blocks/news/news.html.twig" %}

    {% include base_path ~ directory ~ "/bem/blocks/works/works.html.twig" %}

    {% include base_path ~ directory ~ "/bem/blocks/ask/ask.html.twig" %}

    {% if content.main %}
        <div class="home__layout">
            <div class="home__content width width_norm width_paddingStandart">
                <div class="content">{{ content.main }}</div>
            </div>
        </div>
    {% endif %}

</div>