.pageLogin {
  max-width: 500px;
  margin: auto;
  @include display-flex();
  @include flex-direction(column);

  overflow: hidden;
  background: white;
  @include box-shadow(0px 4px 4px 0px rgba(0,0,0,0.2));
  @include border-radius(2px);


  @include respond-to(phone){
    margin: 0 auto;
  }
  @include respond-to(min-phone){
    margin: 0 auto;
  }
  &__layout {
    //background: #67c9e0;
    @include flex(1 0 auto);
    //border: 1px solid rgba(169, 169, 165, 0.31);

    @include respond-to(phone){
      padding: 20px 0;
      border: none;
      border-radius: 0;
    }
    @include respond-to(min-phone){
      padding: 20px 0;
      border: none;
      border-radius: 0;
    }
  }
  &__title {
    text-align: center;
    line-height: 30px;
    color: #6b6b6b;
  }
  &__nav {
    text-align: center;
    @include display-flex();
    @include justify-content(space-between);
    border-top: 1px solid #e4e4e3;

    a {
      color: #969696;
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      &:hover {
        background: #f9f9f9;
      }
    }
  }
  &__navReg {
    @include flex(1 0 auto);
    text-align: left;
  }
}