.articlesPage {
  &__container {
    @include background(url('/themes/my_theme/bem/blocks/articlesPage/img/bg.jpg'));
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  &__title {
    @include display-flex();
  }

  &__center {
    @include display-flex();
    @include respond-to(phone){
      @include flex-direction(column);
    }
    @include respond-to(min-phone){
      @include flex-direction(column);
    }
  }
  &__leftSidebar {
    @include flex-basis(30%);

    @include respond-to(phone){
      display: none;
    }
    @include respond-to(min-phone){
      display: none;
    }
  }
  &__content {
    @include flex-basis(70%);
    @include box-sizing(border-box);
    padding: 0 20px 30px 20px;

    @include respond-to(phone){
      padding: 0;
    }
    @include respond-to(min-phone){
      padding: 0;
    }
  }
  &__bottomMobile {
    display: none;

    @include respond-to(phone){
      display: block;
    }
    @include respond-to(min-phone){
      display: block;
    }
  }
}