<div class="address address_desctop width_paddingStandart">
    <div class="address__addres">г. Саратов, ул. Рахова В.Г., 53</div>
    <div class="address__time">Пн-Пт с 09:00 до 20:00, Сб 09:00 до 16:00</div>
</div>