.menu_fixedmenu {
  float: left;
  padding-right: 40px;

  .menu__title {
  }
  .menu__list {
    margin: 0;
    padding: 0;
  }
  .menu__element {
    display: inline-block;
  }
  .menu__linck {
    color: #ffffff;
    padding: 10px 20px;
    line-height: 30px;
    display: block;
    &:hover {
      background: #c1352b;
      text-decoration: none;
    }
  }
}