.title {
  &_big {
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: "ralewayregular", sans-serif;
    font-weight: bold;
    color: #c7cfd8;
    font-size: 55px;
    text-align: center;

    @include respond-to(tablet){
      margin-top: 30px;
      margin-bottom: 5px;
      font-size: 24px;
    }
    @include respond-to(phone){
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
    @include respond-to(min-phone){
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
  }
  &_norm {
    margin-top: 50px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "ralewayregular", sans-serif;
    font-weight: bold;
    color: #d82043;
    font-size: 32px;

    @include respond-to(tablet){
      margin-top: 30px;
      margin-bottom: 5px;
      font-size: 24px;
    }
    @include respond-to(phone){
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
    @include respond-to(min-phone){
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
  }
}