.works {

  @include background-image(inline_image("/works/img/last_work.jpg"));
  background-size: cover;
  background-position: center;

  @include respond-to(phone) {
    min-height: 240px;
  }
  @include respond-to(min-phone) {
    min-height: 300px;
  }

  &__content {
    margin: 0 auto;
  }

  &__title {
    padding-top: 50px;
    padding-bottom: 30px;
    @include respond-to(phone) {
      padding-top: 35px;
      padding-bottom: 15px;
    }
    @include respond-to(min-phone) {
      padding-top: 35px;
      padding-bottom: 15px;
    }

    .title__text {
      line-height: 38px;

      @include respond-to(phone) {
        line-height: 22px;
      }
      @include respond-to(min-phone) {
        line-height: 22px;
      }
    }

    .title__br {
      max-width: 100px;
    }
  }
  &__slider {
    min-height: 340px;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    @include respond-to(phone) {
      min-height: 0;
      box-sizing: border-box;
    }
    @include respond-to(min-phone) {
      box-sizing: border-box;
      min-height: 0;
    }

    .swiper-container {
      width: 100%;
      height: 100%;
      padding-bottom: 40px;
      @include respond-to(phone){
        padding-bottom: 0;
      }
      @include respond-to(min-phone){
        padding-bottom: 0;
      }
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      @include display-flex();
      @include flex-direction(column);
      opacity: 0 !important;
      &.swiper-slide-active {
        opacity: 1 !important;
      }
    }
    .swiper-button-prev {
      left: 110px;
      @include background-image(inline_image("/sliderText/img/prev.png"));
      opacity: 0.7;
      width: 40px;
      height: 42px;
      margin-top: -21px;
      background-position: top;
      @include background-size(cover);
      &:hover {
        opacity: 0.9;
      }
      @include respond-to(desctop) {
        left: 10px;
      }
      @include respond-to(tablet) {
        left: 10px;
      }
      @include respond-to(phone) {
        left: 10px;
      }
      @include respond-to(min-phone) {
        left: 10px;
        display: none;
      }

    }
    .swiper-button-next {
      right: 110px;
      width: 40px;
      height: 42px;
      margin-top: -21px;
      background-position: top;
      @include background-size(cover);
      @include background-image(inline_image("/sliderText/img/next.png"));
      opacity: 0.7;
      &:hover {
        opacity: 0.9;
      }
      @include respond-to(desctop) {
        right: 10px;
      }
      @include respond-to(tablet) {
        right: 10px;
      }
      @include respond-to(phone) {
        right: 10px;
      }
      @include respond-to(min-phone) {
        right: 10px;
        display: none;
      }
    }

    @include respond-to(tablet){

    }
  }
  &__wrap {

    background: white;

    @include display-flex();
    @include flex-direction(row);
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;


    @include respond-to(tablet){
      @include flex-direction(column);
      max-width: 400px;
      padding: 0 30px;
    }
    @include respond-to(phone){
      @include flex-direction(column);
      max-width: 400px;
      padding: 0;
    }
    @include respond-to(min-phone){
      @include flex-direction(column);
      max-width: 400px;
      padding: 0;
    }
  }

  &__img {
    position: relative;
    &:before {
      content: '';
      background: white;
      position: absolute;
      z-index: -1;
      left: 15px;
      top: 15px;
      width: 100%;
      height: 100%;
      @include box-shadow(4px 6.928px 23.04px 0.96px rgba(0, 0, 0, 0.1));
      @include respond-to(tablet){
        display: none;
      }
      @include respond-to(phone){
        display: none;
      }
      @include respond-to(min-phone){
        display: none;
      }
    }
    a {
      outline: none;
      @include user-select(none);
      display: block;
      z-index: 2;
    }
    img {
      background-color: rgb(255, 255, 255);
      @include box-shadow(4px 6.928px 23.04px 0.96px rgba(0, 0, 0, 0.1));
      width: 100%;
      height: auto;
    }
    width: 400px;
    max-width: 100%;
    @include flex(1 0 auto);

    @include respond-to(tablet){
      width: 200px;
      @include flex(1 0 auto);
    }
    @include respond-to(phone){
      width: 200px;
      @include flex(1 0 auto);
    }
    @include respond-to(min-phone){
    }
  }
  &__info {
    padding: 0 30px;

    @include flex-direction(column);
    @include display-flex(flex);

    @include respond-to(tablet){
      padding: 20px 0;
    }
    @include respond-to(phone){
      padding: 20px 0;
    }
    @include respond-to(min-phone){
      padding: 20px 0;
    }
  }

  &__infoTitle {
    a {
      font-family: "pantonregular", sans-serif;
      font-size: 30px;
      line-height: 32px;
      text-transform: uppercase;
      color: rgb(213, 30, 63);
      font-weight: bold;
      text-decoration: none;
      margin-bottom: 10px;

      &:hover {
        color: rgb(185, 28, 59);
      }
      &:active {
        color: rgb(185, 28, 59);
      }

      @include respond-to(phone){
        font-size: 18px;
        line-height: 20px;
      }
      @include respond-to(min-phone){
        font-size: 18px;
        line-height: 20px;
      }
    }

  }
  &__anons {
    @include flex(1 0 auto);
    font-size: 15px;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(87, 87, 87);
    margin-bottom: 15px;
  }
  &__actions {
  }
  &__more {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: rgb(216, 32, 67);
    @include box-shadow(2px 3.464px 2.88px 0.12px rgba(0, 0, 0, 0.09));
    padding: 10px 20px;
    margin-right: 10px;
    @include border-radius(30px);
    text-transform: uppercase;

    &:hover {
      background-color: rgb(193, 29, 60);
    }
    &:active {
      @include box-shadow(none);
      background-color: rgb(176, 26, 55);

    }
  }
  &__zapis {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: #1996ba;
    @include box-shadow(2px 3.464px 2.88px 0.12px rgba(0, 0, 0, 0.09));
    padding: 10px 20px;
    @include border-radius(30px);
    text-transform: uppercase;

    &:hover {
      background-color: #1787a8;
    }
    &:active {
      background-color: #157d9b;
      @include box-shadow(none);
    }
  }

  &_doctor {
    @include background-image(inline_image("/works/img/bg_red.jpg"));
  }
}
