<div class="notLocal">
    <div class="notLocal__content width width_norm width_paddingLeftRight">

        <div class="notLocal__left">
            <div class="notLocal__title">Для пациентов не из г. Саратова</div>
            <div class="notLocal__text">
                <p>Запишитесь на бесплатную Skype-консультацию с врачом противоболевого центра.</p>
                <p>&nbsp;</p>
                <p>
                    <b>Организуем медицинский туризм:</b>
                </p>
                <ul>
                    <li>Подберём вариант проживания.</li>
                    <li>Познакомим с культурной столице Поволжья.</li>
                    <li>Средний курс лечения - 7-10 дней, амбулаторно - всего 1-1,5 часа в день</li>
                </ul>
                <p>&nbsp;</p>
                <p>Лечение в противоболевом центре доктора Селезнёва - это <b>больший результат за меньшие деньги!</b></p>
            </div>
        </div>
        <div class="notLocal__right">
            {% include base_path ~ directory ~ "/bem/blocks/skypeConsultation/skypeConsultation.html.twig" %}
        </div>
    </div>
</div>