<div class="makeImg">
    <div class="makeImg__text">
    	<!--noindex-->
        <span class="makeImg__text1">Мы перезвоним – для Вас звонок бесплатный!</span>
        <span class="makeImg__text2">Напишите свои имя и номер телефона, чтобы мы могли связаться с Вами.<br> Будем рады помочь Вам!</span>
        <!--/noindex-->
    </div>
    <div class="makeImg__actions">
        <a class="makeImg__button button_red" href="/make-an-appointment">Записаться</a>
    </div>
</div>