<div class="startTherapy">
    <div class="startTherapy__title">С чего начать лечение</div>
    <div class="startTherapy__content content_norm width width_norm width_paddingStandart">
        <div class="item">
            <div class="item__num">1</div>
            <div class="item__content">
                <a href="/form/callback"
                   class="use-ajax"
                   data-dialog-options='{
                       "width":"800px",
                       "minHeight":"400px",
                       "dialogClass":"popupDialog"
                       }'
                   data-dialog-type="modal">Заполните форму</a>
                 или
                позвоните по номеру
                +7&nbsp;(8452)&nbsp;34-71-04
            </div>
        </div>
        <div class="item">
            <div class="item__num">2</div>
            <div class="item__content">
                Согласуем для Вас
                удобное время приёма
            </div>
        </div>
        <div class="item">
            <div class="item__num">3</div>
            <div class="item__content">
                Приходите на приём
            </div>
        </div>
    </div>
    <div class="startTherapy__footer width width_norm width_paddingStandart">
        Поможем на первом приёме или вернём деньги!
    </div>
</div>